In [1]:
import pandas as pd

#Import classes
from datatransform import DataTransform
from dataframeinfo import DataFrameInfo
from plotter import Plotter
from dataframetransform import DataFrameTransform

ModuleNotFoundError: No module named 'missingno'

In [ ]:
#Creating class instances
data_trans = DataTransform()
data_info = DataFrameInfo()
plot = Plotter()
df_trans = DataFrameTransform()

In [ ]:
df = pd.read_csv('loan_payments.csv', index_col='id')       #load data from local csv file
pd.set_option('display.max_columns', None)      #to display all columns
df

,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,home_ownership,annual_inc,verification_status,issue_date,loan_status,payment_plan,purpose,dti,delinq_2yrs,earliest_credit_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_accounts,total_accounts,out_prncp,out_prncp_inv,total_payment,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,5 years,MORTGAGE,46000.0,Not Verified,Jan-2021,Current,n,credit_card,19.54,2,Oct-1987,1,5.0,NaN,12,27,5529.70,5529.70,2982.51,2982.51,2470.30,512.21,0.000000,0.00,0.00,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1,INDIVIDUAL
38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,9 years,RENT,50000.0,Not Verified,Jan-2021,Current,n,credit_card,24.20,0,Sep-2001,0,NaN,NaN,15,31,9102.83,9102.83,4885.11,4885.11,4097.17,787.94,0.000000,0.00,0.00,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,8 years,MORTGAGE,73913.0,Source Verified,Jan-2021,Fully Paid,n,credit_card,16.92,0,Sep-1998,0,69.0,NaN,7,18,0.00,0.00,16824.54,16824.54,16000.00,824.54,0.000000,0.00,0.00,Oct-2021,12850.16,NaN,Oct-2021,0.0,NaN,1,INDIVIDUAL
38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,1 year,RENT,42000.0,Source Verified,Jan-2021,Fully Paid,n,debt_consolidation,35.52,0,Jun-2008,0,74.0,NaN,6,13,0.00,0.00,15947.47,15947.47,15000.00,947.47,0.000000,0.00,0.00,Jun-2021,13899.67,NaN,Jun-2021,0.0,NaN,1,INDIVIDUAL
38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,10+ years,MORTGAGE,145000.0,Verified,Jan-2021,Current,n,debt_consolidation,3.33,0,Apr-2002,1,37.0,NaN,23,50,10297.47,10297.47,5473.46,5473.46,4702.53,770.93,0.000000,0.00,0.00,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76597,76583,5000,5000.0,1775.0,36 months,9.01,159.03,B,B2,1 year,MORTGAGE,250000.0,Not Verified,Jul-2013,Fully Paid,n,other,10.00,2,Apr-2003,0,5.0,NaN,5,7,0.00,0.00,5724.82,2032.29,5000.00,724.82,0.000000,0.00,0.00,Jul-2016,160.61,NaN,Jul-2016,NaN,NaN,1,INDIVIDUAL
142608,74724,5000,5000.0,2350.0,36 months,10.59,162.73,C,C2,< 1 year,RENT,15000.0,Not Verified,Oct-2013,Fully Paid,n,other,24.40,0,Jan-1999,3,0.0,0.0,6,6,0.00,0.00,5931.25,2787.47,5000.00,826.31,104.942381,0.00,0.00,Oct-2016,490.01,NaN,Sep-2016,0.0,NaN,1,INDIVIDUAL
117045,70978,3500,3500.0,2225.0,36 months,7.43,108.77,A,A2,10+ years,MORTGAGE,300000.0,Not Verified,Aug-2013,Does not meet the credit policy. Status:Fully ...,n,debt_consolidation,1.00,0,Feb-1984,0,NaN,NaN,8,18,0.00,0.00,3915.37,2489.01,3500.00,415.37,0.000000,0.00,0.00,Sep-2016,110.58,Sep-2016,May-2013,NaN,NaN,1,INDIVIDUAL
88854,70699,5000,5000.0,225.0,36 months,7.43,155.38,A,A2,4 years,RENT,200000.0,Not Verified,Aug-2013,Fully Paid,n,house,0.28,0,Mar-1995,0,0.0,0.0,2,2,0.00,0.00,5174.18,232.84,5000.00,174.18,0.000000,0.00,0.00,Mar-2014,0.00,NaN,May-2013,NaN,NaN,1,INDIVIDUAL
72323,70694,5000,5000.0,350.0,36 months,11.54,164.98,C,C5,9 years,MORTGAGE,55000.0,Not Verified,Jul-2013,Does not meet the credit policy. Status:Charge...,n,other,10.00,0,Oct-1998,4,NaN,NaN,6,13,0.00,0.00,1501.19,104.60,966.58,352.34,0.000000,182.27,1.84,Mar-2014,164.97,Dec-2014,Jan-2015,NaN,NaN,1,INDIVIDUAL

In [ ]:
df = df.convert_dtypes()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54231 entries, 38676116 to 72323
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   member_id                    54231 non-null  Int64
 1   loan_amount                  54231 non-null  Int64
 2   funded_amount                51224 non-null  Int64
 3   funded_amount_inv            54231 non-null  Float64
 4   term                         49459 non-null  string
 5   int_rate                     49062 non-null  Float64
 6   instalment                   54231 non-null  Float64
 7   grade                        54231 non-null  string
 8   sub_grade                    54231 non-null  string
 9   employment_length            52113 non-null  string
 10  home_ownership               54231 non-null  string
 11  annual_inc                   54231 non-null  Float64
 12  verification_status          54231 non-null  string
 13  issue_date                   54231 non-null  string
 14  loan_status                  54231 non-null  string
 15  payment_plan                 54231 non-null  string
 16  purpose                      54231 non-null  string
 17  dti                          54231 non-null  Float64
 18  delinq_2yrs                  54231 non-null  Int64
 19  earliest_credit_line         54231 non-null  string
 20  inq_last_6mths               54231 non-null  Int64
 21  mths_since_last_delinq       23229 non-null  Int64
 22  mths_since_last_record       6181 non-null   Int64
 23  open_accounts                54231 non-null  Int64
 24  total_accounts               54231 non-null  Int64
 25  out_prncp                    54231 non-null  Float64
 26  out_prncp_inv                54231 non-null  Float64
 27  total_payment                54231 non-null  Float64
 28  total_payment_inv            54231 non-null  Float64
 29  total_rec_prncp              54231 non-null  Float64
 30  total_rec_int                54231 non-null  Float64
 31  total_rec_late_fee           54231 non-null  Float64
 32  recoveries                   54231 non-null  Float64
 33  collection_recovery_fee      54231 non-null  Float64
 34  last_payment_date            54158 non-null  string
 35  last_payment_amount          54231 non-null  Float64
 36  next_payment_date            21623 non-null  string
 37  last_credit_pull_date        54224 non-null  string
 38  collections_12_mths_ex_med   54180 non-null  Int64
 39  mths_since_last_major_derog  7499 non-null   Int64
 40  policy_code                  54231 non-null  Int64
 41  application_type             54231 non-null  string
dtypes: Float64(15), Int64(12), string(15)
memory usage: 19.2 MB

In [ ]:
#Remove "Source" from column to simplify column

df['verification_status'] = df['verification_status'].str.replace('Source', '').str.strip()

#Changes string columns to period(m)
date_columns = ['issue_date', 'earliest_credit_line', 'last_payment_date', 'next_payment_date','last_credit_pull_date']
for column in date_columns:
    data_trans.string_to_date(df, column)

df

/Users/ssalih/EDA/datatransform.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_column] = pd.to_datetime(df[date_column], errors='coerce').dt.to_period('M')
/Users/ssalih/EDA/datatransform.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_column] = pd.to_datetime(df[date_column], errors='coerce').dt.to_period('M')
/Users/ssalih/EDA/datatransform.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_column] = pd.to_datetime(df[date_column], errors='coerce').dt.to_period('M')
/Users/ssalih/EDA/datatransform.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_column] = pd.to_datetime(df[date_column], errors='coerce').dt.to_period('M')
/Users/ssalih/EDA/datatransform.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_column] = pd.to_datetime(df[date_column], errors='coerce').dt.to_period('M')

,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,home_ownership,annual_inc,verification_status,issue_date,loan_status,payment_plan,purpose,dti,delinq_2yrs,earliest_credit_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_accounts,total_accounts,out_prncp,out_prncp_inv,total_payment,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
38676116,41461848,8000,8000,8000.0,36 months,7.49,248.82,A,A4,5 years,MORTGAGE,46000.0,Not Verified,2021-01,Current,n,credit_card,19.54,2,1987-10,1,5,<NA>,12,27,5529.7,5529.7,2982.51,2982.51,2470.3,512.21,0.0,0.0,0.0,2022-01,248.82,2022-02,2022-01,0,5,1,INDIVIDUAL
38656203,41440010,13200,13200,13200.0,36 months,6.99,407.52,A,A3,9 years,RENT,50000.0,Not Verified,2021-01,Current,n,credit_card,24.2,0,2001-09,0,<NA>,<NA>,15,31,9102.83,9102.83,4885.11,4885.11,4097.17,787.94,0.0,0.0,0.0,2022-01,407.52,2022-02,2022-01,0,<NA>,1,INDIVIDUAL
38656154,41439961,16000,16000,16000.0,36 months,7.49,497.63,A,A4,8 years,MORTGAGE,73913.0,Verified,2021-01,Fully Paid,n,credit_card,16.92,0,1998-09,0,69,<NA>,7,18,0.0,0.0,16824.54,16824.54,16000.0,824.54,0.0,0.0,0.0,2021-10,12850.16,NaT,2021-10,0,<NA>,1,INDIVIDUAL
38656128,41439934,15000,15000,15000.0,36 months,14.31,514.93,C,C4,1 year,RENT,42000.0,Verified,2021-01,Fully Paid,n,debt_consolidation,35.52,0,2008-06,0,74,<NA>,6,13,0.0,0.0,15947.47,15947.47,15000.0,947.47,0.0,0.0,0.0,2021-06,13899.67,NaT,2021-06,0,<NA>,1,INDIVIDUAL
38656121,41439927,15000,15000,15000.0,36 months,6.03,456.54,A,A1,10+ years,MORTGAGE,145000.0,Verified,2021-01,Current,n,debt_consolidation,3.33,0,2002-04,1,37,<NA>,23,50,10297.47,10297.47,5473.46,5473.46,4702.53,770.93,0.0,0.0,0.0,2022-01,456.54,2022-02,2022-01,0,<NA>,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76597,76583,5000,5000,1775.0,36 months,9.01,159.03,B,B2,1 year,MORTGAGE,250000.0,Not Verified,2013-07,Fully Paid,n,other,10.0,2,2003-04,0,5,<NA>,5,7,0.0,0.0,5724.82,2032.29,5000.0,724.82,0.0,0.0,0.0,2016-07,160.61,NaT,2016-07,<NA>,<NA>,1,INDIVIDUAL
142608,74724,5000,5000,2350.0,36 months,10.59,162.73,C,C2,< 1 year,RENT,15000.0,Not Verified,2013-10,Fully Paid,n,other,24.4,0,1999-01,3,0,0,6,6,0.0,0.0,5931.25,2787.47,5000.0,826.31,104.942381,0.0,0.0,2016-10,490.01,NaT,2016-09,0,<NA>,1,INDIVIDUAL
117045,70978,3500,3500,2225.0,36 months,7.43,108.77,A,A2,10+ years,MORTGAGE,300000.0,Not Verified,2013-08,Does not meet the credit policy. Status:Fully ...,n,debt_consolidation,1.0,0,1984-02,0,<NA>,<NA>,8,18,0.0,0.0,3915.37,2489.01,3500.0,415.37,0.0,0.0,0.0,2016-09,110.58,2016-09,2013-05,<NA>,<NA>,1,INDIVIDUAL
88854,70699,5000,5000,225.0,36 months,7.43,155.38,A,A2,4 years,RENT,200000.0,Not Verified,2013-08,Fully Paid,n,house,0.28,0,1995-03,0,0,0,2,2,0.0,0.0,5174.18,232.84,5000.0,174.18,0.0,0.0,0.0,2014-03,0.0,NaT,2013-05,<NA>,<NA>,1,INDIVIDUAL
72323,70694,5000,5000,350.0,36 months,11.54,164.98,C,C5,9 years,MORTGAGE,55000.0,Not Verified,2013-07,Does not meet the credit policy. Status:Charge...,n,other,10.0,0,1998-10,4,<NA>,<NA>,6,13,0.0,0.0,1501.19,104.6,966.58,352.34,0.0,182.27,1.84,2014-03,164.97,2014-12,2015-01,<NA>,<NA>,1,INDIVIDUAL

In [ ]:
#Averages testing

# mean_value = data_info.mean(df, 'loan_amount')
# mean_value

mean_value = data_info.mean(df)
mean_value

median_value = data_info.median(df)
median_value

std_value = data_info.std(df)
std_value

member_id                      10312806.882093
loan_amount                        8082.196709
funded_amount                      8019.017599
funded_amount_inv                  8099.473527
int_rate                              4.392893
instalment                          238.920012
annual_inc                        51589.339577
dti                                   7.623124
delinq_2yrs                           0.706706
inq_last_6mths                        1.261421
mths_since_last_delinq                21.92324
mths_since_last_record               36.137264
open_accounts                         4.797169
total_accounts                       11.587025
out_prncp                          5154.893646
out_prncp_inv                      5153.043643
total_payment                      8391.043845
total_payment_inv                  8363.508506
total_rec_prncp                    6958.124264
total_rec_int                      2581.657345
total_rec_late_fee                    6.215792
recoveries                          630.843636
collection_recovery_fee              120.19395
last_payment_amount                5323.801675
collections_12_mths_ex_med             0.07099
mths_since_last_major_derog           21.05236
policy_code                                0.0
dtype: Float64

In [ ]:
#Counting distinct values

distinct_values = data_info.distinct_count(df, 'grade')
distinct_values



# category_columns = df.select_dtypes(include=['category']).columns.tolist()

# print("Columns with 'category' dtype:", category_columns)

7

In [ ]:
# Print out the shape of the DataFrame
df_shape = data_info.shape_print(df)
df_shape

(54231, 42)

In [ ]:
# Generate a count/percentage count of NULL values in each column

total_null = data_info.null_count(df)
total_null

percentage_null = data_info.null_percentage(df)
percentage_null

member_id                      0.000000
loan_amount                    0.000000
funded_amount                  0.055448
funded_amount_inv              0.000000
term                           0.087994
int_rate                       0.095314
instalment                     0.000000
grade                          0.000000
sub_grade                      0.000000
employment_length              0.039055
home_ownership                 0.000000
annual_inc                     0.000000
verification_status            0.000000
issue_date                     0.000000
loan_status                    0.000000
payment_plan                   0.000000
purpose                        0.000000
dti                            0.000000
delinq_2yrs                    0.000000
earliest_credit_line           0.000000
inq_last_6mths                 0.000000
mths_since_last_delinq         0.571666
mths_since_last_record         0.886025
open_accounts                  0.000000
total_accounts                 0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_payment                  0.000000
total_payment_inv              0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_payment_date              0.001346
last_payment_amount            0.000000
next_payment_date              0.601280
last_credit_pull_date          0.000129
collections_12_mths_ex_med     0.000940
mths_since_last_major_derog    0.861721
policy_code                    0.000000
application_type               0.000000
dtype: float64

#### Based on the above we can see the following have a signficantly large null count/ percentage:

mths_since_last_delinq             (0.571666)  
mths_since_last_record             (0.886025)  
next_payment_date                  (0.601280)  
mths_since_last_major_derog        (0.861721)  

As such those will be dropped

In [ ]:
columns_to_drop = ['mths_since_last_delinq', 'mths_since_last_record', 'next_payment_date', 'mths_since_last_major_derog']

for column in columns_to_drop:
    df_trans.drop_column(df,column)



df.shape
df

,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,employment_length,home_ownership,annual_inc,verification_status,issue_date,loan_status,payment_plan,purpose,dti,delinq_2yrs,earliest_credit_line,inq_last_6mths,open_accounts,total_accounts,out_prncp,out_prncp_inv,total_payment,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,last_credit_pull_date,collections_12_mths_ex_med,policy_code,application_type
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
38676116,41461848,8000,8000,8000.0,36 months,7.49,248.82,A,A4,5 years,MORTGAGE,46000.0,Not Verified,2021-01,Current,n,credit_card,19.54,2,1987-10,1,12,27,5529.7,5529.7,2982.51,2982.51,2470.3,512.21,0.0,0.0,0.0,2022-01,248.82,2022-01,0,1,INDIVIDUAL
38656203,41440010,13200,13200,13200.0,36 months,6.99,407.52,A,A3,9 years,RENT,50000.0,Not Verified,2021-01,Current,n,credit_card,24.2,0,2001-09,0,15,31,9102.83,9102.83,4885.11,4885.11,4097.17,787.94,0.0,0.0,0.0,2022-01,407.52,2022-01,0,1,INDIVIDUAL
38656154,41439961,16000,16000,16000.0,36 months,7.49,497.63,A,A4,8 years,MORTGAGE,73913.0,Verified,2021-01,Fully Paid,n,credit_card,16.92,0,1998-09,0,7,18,0.0,0.0,16824.54,16824.54,16000.0,824.54,0.0,0.0,0.0,2021-10,12850.16,2021-10,0,1,INDIVIDUAL
38656128,41439934,15000,15000,15000.0,36 months,14.31,514.93,C,C4,1 year,RENT,42000.0,Verified,2021-01,Fully Paid,n,debt_consolidation,35.52,0,2008-06,0,6,13,0.0,0.0,15947.47,15947.47,15000.0,947.47,0.0,0.0,0.0,2021-06,13899.67,2021-06,0,1,INDIVIDUAL
38656121,41439927,15000,15000,15000.0,36 months,6.03,456.54,A,A1,10+ years,MORTGAGE,145000.0,Verified,2021-01,Current,n,debt_consolidation,3.33,0,2002-04,1,23,50,10297.47,10297.47,5473.46,5473.46,4702.53,770.93,0.0,0.0,0.0,2022-01,456.54,2022-01,0,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76597,76583,5000,5000,1775.0,36 months,9.01,159.03,B,B2,1 year,MORTGAGE,250000.0,Not Verified,2013-07,Fully Paid,n,other,10.0,2,2003-04,0,5,7,0.0,0.0,5724.82,2032.29,5000.0,724.82,0.0,0.0,0.0,2016-07,160.61,2016-07,<NA>,1,INDIVIDUAL
142608,74724,5000,5000,2350.0,36 months,10.59,162.73,C,C2,< 1 year,RENT,15000.0,Not Verified,2013-10,Fully Paid,n,other,24.4,0,1999-01,3,6,6,0.0,0.0,5931.25,2787.47,5000.0,826.31,104.942381,0.0,0.0,2016-10,490.01,2016-09,0,1,INDIVIDUAL
117045,70978,3500,3500,2225.0,36 months,7.43,108.77,A,A2,10+ years,MORTGAGE,300000.0,Not Verified,2013-08,Does not meet the credit policy. Status:Fully ...,n,debt_consolidation,1.0,0,1984-02,0,8,18,0.0,0.0,3915.37,2489.01,3500.0,415.37,0.0,0.0,0.0,2016-09,110.58,2013-05,<NA>,1,INDIVIDUAL
88854,70699,5000,5000,225.0,36 months,7.43,155.38,A,A2,4 years,RENT,200000.0,Not Verified,2013-08,Fully Paid,n,house,0.28,0,1995-03,0,2,2,0.0,0.0,5174.18,232.84,5000.0,174.18,0.0,0.0,0.0,2014-03,0.0,2013-05,<NA>,1,INDIVIDUAL
72323,70694,5000,5000,350.0,36 months,11.54,164.98,C,C5,9 years,MORTGAGE,55000.0,Not Verified,2013-07,Does not meet the credit policy. Status:Charge...,n,other,10.0,0,1998-10,4,6,13,0.0,0.0,1501.19,104.6,966.58,352.34,0.0,182.27,1.84,2014-03,164.97,2015-01,<NA>,1,INDIVIDUAL

In [ ]:
# If the percentage of missing data is relatively small, you may choose to impute the missing 
# values using statistical methods such as mean or median imputation. 

percentage_null = data_info.null_percentage(df)
percentage_null

member_id                     0.000000
loan_amount                   0.000000
funded_amount                 0.055448
funded_amount_inv             0.000000
term                          0.087994
int_rate                      0.095314
instalment                    0.000000
grade                         0.000000
sub_grade                     0.000000
employment_length             0.039055
home_ownership                0.000000
annual_inc                    0.000000
verification_status           0.000000
issue_date                    0.000000
loan_status                   0.000000
payment_plan                  0.000000
purpose                       0.000000
dti                           0.000000
delinq_2yrs                   0.000000
earliest_credit_line          0.000000
inq_last_6mths                0.000000
open_accounts                 0.000000
total_accounts                0.000000
out_prncp                     0.000000
out_prncp_inv                 0.000000
total_payment                 0.000000
total_payment_inv             0.000000
total_rec_prncp               0.000000
total_rec_int                 0.000000
total_rec_late_fee            0.000000
recoveries                    0.000000
collection_recovery_fee       0.000000
last_payment_date             0.001346
last_payment_amount           0.000000
last_credit_pull_date         0.000129
collections_12_mths_ex_med    0.000940
policy_code                   0.000000
application_type              0.000000
dtype: float64

In [ ]:
cat_impute = df_trans.impute_categorical_nulls(df)
cat_impute

percentage_null = data_info.null_percentage(df)
percentage_null

# df.dtypes

member_id                     0.000000
loan_amount                   0.000000
funded_amount                 0.055448
funded_amount_inv             0.000000
term                          0.087994
int_rate                      0.095314
instalment                    0.000000
grade                         0.000000
sub_grade                     0.000000
employment_length             0.039055
home_ownership                0.000000
annual_inc                    0.000000
verification_status           0.000000
issue_date                    0.000000
loan_status                   0.000000
payment_plan                  0.000000
purpose                       0.000000
dti                           0.000000
delinq_2yrs                   0.000000
earliest_credit_line          0.000000
inq_last_6mths                0.000000
open_accounts                 0.000000
total_accounts                0.000000
out_prncp                     0.000000
out_prncp_inv                 0.000000
total_payment                 0.000000
total_payment_inv             0.000000
total_rec_prncp               0.000000
total_rec_int                 0.000000
total_rec_late_fee            0.000000
recoveries                    0.000000
collection_recovery_fee       0.000000
last_payment_date             0.001346
last_payment_amount           0.000000
last_credit_pull_date         0.000129
collections_12_mths_ex_med    0.000940
policy_code                   0.000000
application_type              0.000000
dtype: float64


funded_amount                 0.055448
term                          0.087994
int_rate                      0.095314
employment_length             0.039055
last_payment_date             0.001346
last_credit_pull_date         0.000129
collections_12_mths_ex_med    0.000940

dtype: float64

If data null data column count is < 1% (ie 0.01) this suggests that this make up a small subset of the data these rows can be removed.

In [ ]:
# small_null_percentage_check = ['funded_amount', 'term', 'int_rate', 'employment_length', 'last_payment_date','last_credit_pull_date', 'collections_12_mths_ex_med ']

# drops_null_rows_under_threshold = df_trans.drop_rows_with_sparse_nulls(df)

# percentage_null

sorted_null_percentage = percentage_null.sort_values(ascending=False)
print(sorted_null_percentage)

sparse_null_columns = df_trans.columns_with_sparse_nulls(df)
print(sparse_null_columns)

int_rate                      0.095314
term                          0.087994
funded_amount                 0.055448
employment_length             0.039055
last_payment_date             0.001346
collections_12_mths_ex_med    0.000940
last_credit_pull_date         0.000129
total_rec_int                 0.000000
out_prncp                     0.000000
out_prncp_inv                 0.000000
total_payment                 0.000000
total_payment_inv             0.000000
total_rec_prncp               0.000000
member_id                     0.000000
total_rec_late_fee            0.000000
recoveries                    0.000000
collection_recovery_fee       0.000000
open_accounts                 0.000000
last_payment_amount           0.000000
policy_code                   0.000000
total_accounts                0.000000
earliest_credit_line          0.000000
inq_last_6mths                0.000000
loan_amount                   0.000000
delinq_2yrs                   0.000000
dti                           0.000000
purpose                       0.000000
payment_plan                  0.000000
loan_status                   0.000000
issue_date                    0.000000
verification_status           0.000000
annual_inc                    0.000000
home_ownership                0.000000
sub_grade                     0.000000
grade                         0.000000
instalment                    0.000000
funded_amount_inv             0.000000
application_type              0.000000
dtype: float64
['last_payment_date', 'last_credit_pull_date', 'collections_12_mths_ex_med']

In [ ]:
# df.dropna(subset=sparse_null_columns)

# percentage_null

# Check for null values before dropping rows
print("Null values before dropping rows:")
print(df[sparse_null_columns].isnull().sum())

# Drop rows containing null values in specified columns
df = df.dropna(subset=sparse_null_columns)

# Check for null values after dropping rows
print("\nNull values after dropping rows:")
print(df[sparse_null_columns].isnull().sum())

percentage_null = data_info.null_percentage(df)
percentage_null

Null values before dropping rows:
last_payment_date             73
last_credit_pull_date          7
collections_12_mths_ex_med    51
dtype: int64

Null values after dropping rows:
last_payment_date             0
last_credit_pull_date         0
collections_12_mths_ex_med    0
dtype: int64

member_id                     0.000000
loan_amount                   0.000000
funded_amount                 0.055416
funded_amount_inv             0.000000
term                          0.088022
int_rate                      0.095360
instalment                    0.000000
grade                         0.000000
sub_grade                     0.000000
employment_length             0.039076
home_ownership                0.000000
annual_inc                    0.000000
verification_status           0.000000
issue_date                    0.000000
loan_status                   0.000000
payment_plan                  0.000000
purpose                       0.000000
dti                           0.000000
delinq_2yrs                   0.000000
earliest_credit_line          0.000000
inq_last_6mths                0.000000
open_accounts                 0.000000
total_accounts                0.000000
out_prncp                     0.000000
out_prncp_inv                 0.000000
total_payment                 0.000000
total_payment_inv             0.000000
total_rec_prncp               0.000000
total_rec_int                 0.000000
total_rec_late_fee            0.000000
recoveries                    0.000000
collection_recovery_fee       0.000000
last_payment_date             0.000000
last_payment_amount           0.000000
last_credit_pull_date         0.000000
collections_12_mths_ex_med    0.000000
policy_code                   0.000000
application_type              0.000000
dtype: float64

### Now there are 3 columns left 
lets figure out how the data is missing? MCAR?
Need to use Plotter

In [ ]:
plot.missing_matrix(df)

NameError: name 'plot' is not defined